# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock

# testing
/coverage
/.scannerwork

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env
.idea/
.env.local
.expo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# storybook
/storybook-static/

# logs
/logs

nginx_signing.key

